<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Верстка NordW
	body
	main
		ul(style="padding: 50px; ")
			li
				a(href="news.html")| Новости
			li
				a(href="search.html")| Поиск
