html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		title Новости
	body
		-
			let news = [
				{
					title:'Новые правила отправки груза',
					text:'В компании «Норд Вил» введены новые правила оформления документов на отправку грузов. Для отправки груза отправитель должен предоставить информацию о себе, получателе и плательщике (в случае если плательщиком является третье лицо), а специалист компании обязан проверить достоверность представленных клиентом документов и сведений.',
				},
				{
					title:'Открыт новый склад в Санкт-Петербурге',
					text:'Уважаемые клиенты, спешим Вам сообщить об открытии нового склада "Норд Вил" в Санкт-Петербурге! <br> г. Санкт-Петербург, ул. Предпортовая, д. 8 (территория ЗАО "ПОСЫЛТОРГ") склад №17 ООО "Норд Вил"',
				},
				{
					title:'Новая услуга! Доставка корреспонденции',
					text:'В компании «Норд Вил» введены новые правила оформления документов на отправку грузов. Для отправки груза отправитель должен предоставить информацию о себе, получателе и плательщике (в случае если плательщиком является третье лицо), а специалист компании обязан проверить достоверность представленных клиентом документов и сведений.',
				},
				{
					title:'Акция Осенний тест драйв! - 10% скидка на все грузоперевозки',
					text:`Только для клиентов, заключивших договор с нашей компанией осенью, действует специальное предложение:<br>
					10 % скидка на грузоперевозки<br>
					Саратов - Москва / Москва - Саратов<br>
					Саратов - Санкт-Петербург / Санкт-Петербург - Саратов`,
				},
				{
					title:'Теперь мы возим в Мурманск',
					text:`Уважаемые клиенты!<br>
					C 1 октября 2015 г, открывается новое направление грузоперевозок в город Мурманск, а также есть возможность доставлять груз от дверей до дверей клиента. Более подробную информацию уточняйте по телефону (812) 640-17-67, 8-921-956-17-67`,
				},
			]
		.container
			.nord-news
				.nord-news__wrapper
					each item,i in news
						.nord-news__item
							a.nord-news__item-img(href="#", style=`background-image: url(/assets/img/content/news/news-${i+1}.jpg)`)
							.nord-news__item-container
								.nord-news__item-head
									a(href="#")
										.nord-news__item-title|!{item.title}
									.nord-news__item-date|14.08.2017
								.nord-news__item-text|!{item.text}
				a.nord-news__btn|+ показать еще 20


