html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		title Поиск

	body
		-
			let search = [
				{
					title:'Снижены сроки перевозки в Архангельск',
					text:'С 1 апреля компания​ снизила сроки <b>перевозки</b> из Москвы и Санкт-Петербурга в Архангельск. Логисты Компании постоянно работают над снижением сроков магистральной (межфилиальной) ...',
				},
				{
					title:'Перевозка сборного груза',
					text:'... услуг – приоритетное направление работы «ПЭК». Транспортировка в составе сборных грузов дает возможность Компании сокращать расходы на перевозку, что создает выгодные условия и для клиентов. Компания «ПЭК» - один из крупнейших российских грузоперевозчиков, специализирующихся',
				},
				{
					title:'Паллетная перевозка',
					text:'Транспортные услуги обеспечивают удобство доставки грузов в гипермаркеты и торговые сети. Услуга «Паллетная <b>перевозка»</b> создана для доставки грузов в гипермаркеты и торговые сети. Главная особенность услуги — единый тариф на <b>перевозку</b> стандартной',
				},
				{
					title:'Тарифы, графики и сроки',
					text:`Транспортно-экспедиционные услуги по <b>перевозки</b> грузов внутри Казахстана, которые оказывает Компания ТОО «ПЭК Казахстан», включают в себя следующий комплекс работ: прием и оформление`,
				},
				{
					title:'Снижены сроки перевозки в Архангельск',
					text:`С 1 апреля компания​ снизила сроки <b>перевозки</b> из Москвы и Санкт-Петербурга в Архангельск. Логисты Компании постоянно работают над снижением сроков магистральной (межфилиальной) ...`,
				},
				{
					title:'Перевозка сборного груза',
					text:`... услуг – приоритетное направление работы «ПЭК». Транспортировка в составе сборных грузов дает возможность Компании сокращать расходы на <b>перевозку</b>, что создает выгодные условия и для клиентов. Компания «ПЭК» - один из крупнейших российских грузоперевозчиков, специализирующихся`,
				},
				{
					title:'Паллетная перевозка',
					text:`Транспортные услуги обеспечивают удобство доставки грузов в гипермаркеты и торговые сети. Услуга «Паллетная перевозка» создана для доставки грузов в гипермаркеты и торговые сети. Главная особенность услуги — единый тариф на <b>перевозку</b> стандартной`,
				},
			]

		.container
			.nord-search
				.nord-search__search-container
					input.nord-search__search(type="text", name="", placeholder="перевозки")
					button.nord-search__search-btn| Искать
					button.nord-search__search-btn--mob(style="background-image: url(/assets/img/ico/search-ico.png)")
					.nord-search__search-info| Найдено <b>50</b> совпадений

				.nord-search__wrapper
					each item in search
						.nord-search__item
							a.nord-search__item-title(href="#")|!{item.title}
							p.nord-search__item-text|!{item.text}
				a.nord-search__btn|+ показать еще 20


